services:
  postgres:
    image: postgres:16
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: ${POSTGRES_USER:-typerek}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-typerek_dev}
      POSTGRES_DB: ${POSTGRES_DB:-typerek_development}
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
